<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>

<body>
    <h1>Blogs</h1>
    
    <form action="/profile/<%= username %>/blog" method="post">
        <input type="text" name="title" id="title" required>
        <textarea name="blog" id="blog" required>

        </textarea>
        <input type="submit" id="submit">
    </form>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#blog'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>