<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Blogs</title>
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <p>Blogs</p>
        </div>

        <div class="leftNav">
            <div class="contBtn">
                <button class="btn" form="blogForm">Publish</button>
            </div>
            <div class="profileImage">
                <img src="../images/profileImage/<%= user.profileImage %>" alt="<%= user.username %>" class="img">
            </div>
        </div>
    </nav>

    <main class="mainForm">
        <form action="/profile/<%= user.username %>/blog" method="post" class="blogForm" id="blogForm"
            enctype="multipart/form-data">
            <input type="text" name="title" id="title" placeholder="Title:" required>
            <div class="fileDiv">
                <label for="file" id="fileLabel" class="profileImageLabel">Upload thumbnail of Blog</label>
                <input type="file" name="profileImage" id="file" required>
            </div>
            <textarea name="blog" id="blog" placeholder="Write your blog here:" required>

            </textarea>
        </form>
    </main>
    <div class="footer">
        <p>&copy; 2024 Blogs for enhance. All rights reserved.</p>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    <script>

        document.getElementById('file').addEventListener('change', function () {
            let fileName = this.files[0].name;
            let displayName = document.getElementById('fileLabel')
            displayName.innerText = 'Selected File: ' + fileName;
        });

        ClassicEditor
            .create(document.querySelector('#blog'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            })
    </script>
</body>

</html>