<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Blogs</title>
</head>

<body>
    <div class="cursor"></div>
    
    <!-- Login Handling -->
    
    <main class="main">
        <nav class="nav">
            <div class="logo">
                <p>Blogs</p>
            </div>
            <div class="list">
                <ul class="ul">
                    <li><a href="">Our Story</a></li>
                    <li><a href="">Write</a></li>
                    <li><a href="">Read</a></li>
                </ul>
                <div class="login">
                    <a href="/register" class="btn loginBtn">Get Started</a>
                </div>
            </div>
        </nav>
        <!-- Page - 1 -->
        <div class="page1">
            <div class="text-section">
                <div class="t-head">
                    Stay Updated!
                </div>
                <div class="t-body">
                    <div>
                        Read and write about new things and gain expertise
                    </div>
                    <div>
                        In the new <span>Era</span> of World
                    </div>
                </div>
                <div class="t-btn">
                    <button class="btn">Start Reading</button>
                </div>
            </div>
            <div class="image-section">
                <div class="row1">
                    <div>
                        <img class="img" src="../images/image.png" alt="">
                        <p class="i-text">
                            Greenland
                        <div class="i-desc">
                            Most beautiful place
                        </div>
                        </p>
                    </div>
                    <div>
                        <img class="img" src="../images/image copy.png" alt="">
                        <p class="i-text">
                            UK - Alter Bridge
                        <div class="i-desc">
                            Peace of UK make smile
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Page 2 -->
        <div class="page2">
            <div class="page2-head">
                <h2>Trendings</h2>
            </div>
            <div class="card-sec">
                <!-- Through JavaScript -->
            </div>
        </div>

        <!-- Page 3 -->
        <div class="page3">
            <div class="page3-text">
                <h2>
                    Welcome
                </h2>
                <div class="page-t">
                    <p> <span class="red">-></span> Welcome to Creative Chronicles, your digital haven for inspiration, creativity, and expression. Our  platform is a vibrant community where writers, thinkers, and artists converge to share their unique perspectives and creative endeavors with the world.</p>

                    <p>
                        <span class="red">-></span> Dive into a kaleidoscope of topics spanning from literature and poetry to technology and lifestyle. Whether you're a seasoned writer or a budding artist, there's a place for you here to explore, learn, and grow.
                    </p>

                    <p> <span class="red">-></span> At Creative Chronicles, we believe in the power of storytelling to connect and inspire. Our blog features thought-provoking articles, insightful interviews with industry experts, and engaging multimedia content that sparks curiosity and ignites passion.</p>

                    <p>
                         <span class="red">-></span> Join us on a journey of discovery as we celebrate the diversity of human expression and the endless possibilities of imagination. Let your creativity soar with Creative Chronicles, where every voice finds its place to shine.
                    </p>
                </div>
            </div>
            <div class="page3-d">
                <div class="btn3-sec">
                    <!-- Coming from JS -->
                </div>    
                <p class="d-desc">See more topics</p>
            </div>
        </div>

        <!-- footer -->

        <div class="footer">
            <p>&copy; 2024 Blogs for enhance. All rights reserved.</p>
        </div>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>