<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <title>Login</title>
</head>
<body>
    <div class="formCont">
        <form class="login" action="/login" method="post">
            <div class="cross">
                <i class="ri-arrow-drop-down-fill"></i>
            </div>
            <div class="form-head">
                <h2>Login</h2>
            </div>
            <div>
                <input type="text" name="username" id="username" placeholder="Enter username" autocomplete="off">
            </div>
            <div>
                <input type="text" name="password" id="password" placeholder="Enter password" autocomplete="off">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>