* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

:root{
    --primary: rgb(248, 246, 244);
    --secondary: rgb(255, 102, 0);
}

body::-webkit-scrollbar{
    display: none;
}

.mainForm {
    width: 100%;
    padding: 130px 70px;
}

.mainForm .blogForm {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: var(--primary);
}

.blogForm #title {
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 0px 5px;
    border: 0.2px solid black;
}

.blogForm #title:focus {
    outline: none;
}

.contBtn {
    margin-right: 50px;
}

.contBtn .btn {
    padding: 7px;
    border-radius: 6px;
    border: none;
    background-color: var(--secondary);
    color: white;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.blogForm textarea {
    width: 100%;
    height: 500px;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 500px;
    /* overflow-y: auto; */
}

.ck-sticky-panel__content {
    top: 70px !important;
}

.footer {
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 53, 53);
}

.blogSee{
    width: 100%;
    padding: 130px 70px;
}


.blogTitle {
    font-size: 30px;
    font-weight: 600;
}

.mainBlogSee {
    border-radius: 20px;
    border: 1px solid black;
    background-color: var(--primary);
}

.mainBlogSee .blogCover{
    padding: 30px 30px 0px 30px;

}

.mainBlogSee .blogConfig {
    width: 100%;
    height: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 50px;
    border-top: 1px solid black;
    border-radius: 0px 0px 20px 20px;
}

.blogConfig .blogViews {
    font-size: 15px;
}

.comment{
    margin-top: 30px;
}

.commentCont {
    border-radius: 20px;
    padding: 0px 0px 20px 0px;
    border: 1px solid black;
    background-color: var(--primary);
}

.commentCont h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.commentCard {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    /* border-radius: 20px; */
    height: fit-content;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.commentCard .userInfo {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.commentCard .userInfo .username {
    margin-left: 10px;
}

.commentCard .userInfo img {
    width: 50px;
    height: 50px;
}

.commentDesc {
    width: 100%;
    padding: 10px;
    /* margin-top: 7px; */
    height: fit-content;
}

.addComment {
    width: 500px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: var(--primary);
}

.addComment .commentHead {
    font-size: 20px;
    font-weight: 500;
}

.addComment textarea {
    resize: none; 
    height: 100px; 
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    padding: 5px 10px; 
    border: 1px solid #000;
}

.addComment textarea::-webkit-scrollbar {
    width: 5px;
}

.addComment textarea::-webkit-scrollbar-track {
    background: #8888;
}

.addComment textarea::-webkit-scrollbar-thumb {
    background-color: rgb(134, 132, 132);
}

.addComment textarea:focus {
    outline: none;
}

.addComment .btn {
    padding: 7px;
    border-radius: 6px;
    border: none;
    background-color: var(--secondary);
    color: white;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}